$color-white: #ffffff;
$color-black: #000000;
$color-primary: #169df7;
$color-grey-dark: #3d3d3d;

// Sizes
$size-hd:         1600px;
$size-desktop:    1200px;
$size-tablet:     1025px;
$size-phone:      750px;

// Spacing
$spacing: (
  1:  8px,
  2:  16px,
  3:  24px,
  4:  32px,
  5:  40px,
  6:  48px,
  8:  64px,
  10: 80px,
  15: 120px,
  20: 160px,
);