<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <header class="header">
        <ul class="navbar fx fx--fe">
            <li class="navbar__item">
                <a href="" class="tc-white">Login</a>
            </li>
            <li class="navbar__item">
                <a href="" class="tc-white">Register</a>
            </li>
            <li class="navbar__item">
                <a href="" class="tc-white">About</a>
            </li>
        </ul>
    </header>
    <section class="hero">
        <div class="container">
            <article class="hero-content">
                <h1 class="tc-white">Skill Seekers</h1>
            </article>
        </div>
    </section>
</body>
</html>